<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  metadata-complete="false"
  version="6.0">

    <context-param>
        <param-name>org.eclipse.jetty.server.context.ManagedAttributes</param-name>
        <param-value>push</param-value>
    </context-param>

    <servlet>
        <servlet-name>slow</servlet-name>
        <servlet-class>examples.SlowImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>slow</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>push</filter-name>
        <filter-class>org.eclipse.jetty.servlets.PushCacheFilter</filter-class>
        <init-param>
            <param-name>ports</param-name>
            <param-value>8444</param-value>
        </init-param>
        <init-param>
            <param-name>maxAssociations</param-name>
            <param-value>32</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>push</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
